section {
  position: relative;
  top: 72px;
}
.wrapper {
  display: flex;
  top: 50px;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.modal__poster-img {
  max-width: 800px;
  border-radius: 10px;
  margin: 10px 30px;
  height: auto;
}
.modal__contents {
  padding: 40px;
  color: white;
  width: 800px;
}
@media screen and (max-width: 1168px) {
  .modal__contents {
    width: 800px;
  }
}
@media screen and (max-width: 820px) {
  .modal__contents {
    width: 600px;
  }
}
@media screen and (max-width: 620px) {
  .modal__contents {
    width: auto;
  }
}
.modal__title {
  padding: 0;
  font-size: 40px;
  margin: 16px 0;
}

.modal__details {
  font-weight: 600;
  font-size: 18px;
}
.modal__overview {
  font-size: 20px;
  line-height: 1.5;
}
.list_back {
  position: fixed;
  z-index: 99;
  opacity: 0.5;
}
.error {
  display: flex;
  justify-content: center;
  font-size: 48px;
}
